.km{background-color: goldenrod;
    text-align: center;
    font-style: italic;
    color: white;
    font-size: large;
    }
    
    .km img{width: 170px;
    text-align: center;
    margin: 15px;}
    
    .sm{
        background-color: black;
        padding: 8px;
        }
    
    a{text-decoration: none;
    color: white;
    margin: 5px;}
    
    a:hover{background-color: gray;}

    .kapsa1{display: flex;}
    .kapsa2{display: flex;}

    .kb{width: 30vw;
        
        border: 1px solid black;
    margin: 5px;}

   